{% extends "base.html" %}

{% block content %}

    <div class="content">
        <h4>{{ assignment.date|date:"F j Y" }}</h4>
    </div>

    {% with assignment.worker as worker %}
        <section class="profile">
            <a href="{% url worker_detail worker.pk %}">
                <img id="med-photo" class="photo-rotate" src="{{ worker.avatar_url }}">
            </a>
            <h3>{{ worker.full_name }}</h3>
            <span class="counting">Total Bones: {{ worker.bones.count }}</span>
            <span class="counting">Total Nudges: {{ worker.nudges.count }}</span>
            <span class="counting">Total Deferments: {{ worker.debits.count }}</span>
        </section>
        <div id="rex-main"></div>
    {% endwith %}

    <div class="content">

        <h4>Chain of rescheduling</h4>

        {% if debits %}

            <ul>
                {% for debit in debits %}
                    {% with debit.credits.all.0.worker as worker %}
                        <li>
                            <a href="{% url worker_detail debit.worker.pk %}">{{ debit.worker.full_name }}</a>
                            deferred to
                            <a href="{% url worker_detail worker.pk %}">{{ worker.full_name }}</a>
                        </li>
                    {% endwith %}
                {% endfor %}
            </ul>

        {% else %}
        
            {% if credits %}

                <ul>
                    {% for credit in credits %}
                        <li>
                            {% if credit.debit.worker.pk == assignment.worker.pk %}
                                {{ assignment.worker.full_name }} was scheduled for this day because they deferred to {{ credit.debit.skipped_assignment.worker.full_name }} on {{ credit.debit.skipped_assignment.date }}.
                            {% else %}
                                {{ assignment.worker.full_name }} should not have worked this day. I made a boo boo.
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>

            {% else %}

                <p>{{ assignment.worker.first_name }} was originally scheduled on this day.</p>

            {% endif %}

        {% endif %}

    </div>

{% endblock %}
