{% extends "base.html" %}

{% block content %}

    <div class="content">

        <h4>Hall of Shame</h4>

        <h5>Most deferred</h5>

        <ol>
            {% for worker in most_deferred %}
                <li><a href="{% url worker_detail worker.pk %}">{{ worker.full_name }}</a> <span class="count">{{ worker.num_debits }}</span></li>
            {% endfor %}
        </ol>

        <h5>Most nudges</h5>

        <ol>
            {% for worker in most_nudged %}
                <li><a href="{% url worker_detail worker.pk %}">{{ worker.full_name }}</a> <span class="count">{{ worker.num_nudges }}</span></li>
            {% endfor %}
        </ol>

    </h4>

{% endblock %}