{% extends "base.html" %}

{% block title %}
   REX - KITCHEN DUTY
{% endblock %}

{% block meta %}
    <meta name="viewport" content="width=980px, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
{% endblock %}

{% block head_prologue %}
    <link rel="stylesheet" type="text/css" href="static/css/popover.css">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="static/js/kitchen.js"></script>
{% endblock %}

{% block content %}
	{% if worker %}
    <div id="kitchen" role="main">

        <img id="large-photo" src="{{ worker.avatar_url }}">

        <section id="today-bar-area">
            <div id="rex-kit"></div>
            <div id="today-text-kit">
                <span id="today-text">TODAY'S CLEANOSAUR: <span>{{ worker.first_name }} {{ worker.last_name|slice:"1" }}. </span></span>
            </div>
            <div class="clear">
        </section>
        <section id="buttons-area">
            <button id="nudge-button" class="replace" title="Give 'em a nudge!" type="" value="">
                <span>Give 'em a nudge!</span>
            </button>
            <button id="bone-button" class="replace" title="Throw 'em a bone!" type="" value="">
                <span>Throw 'em a bone!</span>
            </button>
        </section>
        <div class="clear"></div>
    </div>
    <div id="mask" style="position: fixed; top:0; left: 0; right: 0; bottom: 0; background-color: gray; opacity: 0.6; display: none;"></div>
    <div id="overlay" style="margin: 15% auto; display: none; position: fixed; top: 0; left: 0; right: 0; bottom: 0;">
        <div id="pop-over" style="display: none; margin: auto auto;">
            <header>
                <h1 class="replace">Give 'em a nudge!</h1>
            </header>
            <section id="pop-buttons">
                <button id="yea-button" class="replace" title="Yea, for the kitchen is nasty." type="" value="">
                    <span>Yea, for the kitchen is nasty.</span>
                </button>
                <button id="nay-button" class="replace" title="Nay, just kiddin'" type="" value="">
                    <span>Nay, just kiddin'</span>
                </button>
            </section>
        </div>
        <div id="pop-over2" style="display: none; margin: auto auto;">
            <header>
                <h1 class="replace">Throw 'em a bone!</h1>
            </header>
            <section id="pop-buttons">
                <button id="yea-button2" class="replace" title="Yea, for the kitchen is clean!" type="" value="">
                    <span>Yea, for the kitchen is clean!</span>
                </button>
                <button id="nay-button2" class="replace" title="Nay, just kiddin'" type="" value="">
                    <span>Nay, just kiddin'</span>
                </button>
            </section>
        </div>
    </div>
	{% else %}
    <div id="kitchen" role="main">

        <img id="large-photo" src="">

        <section id="today-bar-area">
            <div id="rex-kit"></div>
            <div id="today-text-kit">
                <span id="today-text">TODAY'S CLEANOSAUR: <span>No One!</span></span>
            </div>
            <div class="clear">
        </section>
        <section id="buttons-area">
        </section>
        <div class="clear"></div>
    </div>
	{% endif %}
{% endblock %}
