{% extends "base.html" %}

{% block content %}

    <div class="content">
        {% if weekend %}
            <iframe width="420" height="315" src="http://www.youtube.com/embed/7E82ozXyNjk" frameborder="0" allowfullscreen></iframe>

            <br>
            Everyone's watchin' to see what you will do<br>
            Everyone's lookin' at you, Oh<br>
            Everyone's wonderin' will you come out tonight<br>
            Everyone's tryin' to get it right, get it right<br>
            <br>
            Everybody's workin' for the weekend<br>
            Everybody wants a new romance<br>
            Everybody's goin' off the deep end<br>
            Everybody needs a second chance, Oh<br>
            <br>
            You want a piece of my heart<br>
            you better start from the start<br>
            you wanna be in the show<br>
            c'mon baby let's go<br>
            <br>
            Everyone's lookin' to see if it was you<br>
            Everyone wants you to come through<br>
            Everyone's hopin' it'll all work out<br>
            Everyone's waiting to hold you out<br>
            <br>
            Everybody's workin' for the weekend<br>
            Everybody wants a new romance, hey yeah<br>
            Everybody's goin' off the deep end<br>
            Everybody needs a second chance, Oh<br>
            <br>
            You want a piece of my heart<br>
            you better start from the start<br>
            you wanna be in the show<br>
            c'mon baby let's go<br>
            <br>
            Hey<br>
            <br>
            You want a piece of my heart<br>
            you better start from the start<br>
            you wanna be in the show<br>
            c'mon baby let's go<br>
            <br>
            You want a piece of my heart<br>
            you better start from the start<br>
            you wanna be in the show<br>
            c'mon baby let's go<br>
        {% endif %}

        {% if holiday %}
            <iframe width="420" height="315" src="http://www.youtube.com/embed/0X7RyGBq2E8" frameborder="0" allowfullscreen></iframe>

            [Chorus]<br>
            Holiday, celebrate <br>
            Holiday, celebrate <br>
            <br>
            If we took a holiday yeah <br>
            Took some time to celebrate <br>
            Just one day out of life <br>
            It would be <br>
            It would be so nice <br>
            Everybody spread the word <br>
            We're gonna have a celebration <br>
            All across the world <br>
            In every nation <br>
            It's time for the good times <br>
            Forget about the bad times <br>
            One day to come together <br>
            To release the pressure <br>
            We need a holiday <br>
            <br>
            [Chorus]<br>
            <br>
            You can turn this world around <br>
            And bring back all of those happy days <br>
            Put your trouble down <br>
            It's time to celebrate <br>
            Let love shine <br>
            And we will find <br>
            A way to come together <br>
            And make things better <br>
            We need a holiday <br>
            <br>
            [Chorus]<br>
        {% endif %}
        
    </div>

{% endblock %}

