.clear {
	clear:both;
}

.replace {
	text-indent: -9999em;
	display: block;
}

ol, ul {
	list-style-type: none;
	margin-left: 0;
}

#pop-over {
	background: #f9f3e6 url('/static/images/pop-tile.jpg') top left repeat;
	width: 594px;
	height: 365px;
	border: 3px #363942 solid;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: #998675 1px 1px 3px;
	-webkit-box-shadow: #998675 1px 1px 3px;
	box-shadow: #998675 1px 1px 3px;
}

#pop-over2 {
	background: #f9f3e6 url('/static/images/pop-tile.jpg') top left repeat;
	width: 594px;
	height: 365px;
	border: 3px #363942 solid;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	border-radius: 15px;
	-moz-box-shadow: #998675 1px 1px 3px;
	-webkit-box-shadow: #998675 1px 1px 3px;
	box-shadow: #998675 1px 1px 3px;
}

#pop-over2 header {
	width: 503px;
	margin: 35px auto;
}

#pop-over h1 {
	background: url('/static/images/nudge-banner.png') top left no-repeat;
	width: 503px;
	height: 106px;
}

#pop-over2 h1 {
	background: url('/static/images/bone-banner.png') top left no-repeat;
	width: 503px;
	height: 106px;
}

#pop-buttons {
	padding: 0px 77px;
}

#yea-button {
	background: url('/static/images/yea-button.png') center top no-repeat;
	width: 440px;
	height: 65px;
	margin-bottom: 22px;
	border: none;
	display: block;
	cursor: pointer;
}

#yea-button2 {
	background: url('/static/images/yea-button2.png') center top no-repeat;
	width: 440px;
	height: 65px;
	margin-bottom: 22px;
	border: none;
	display: block;
	cursor: pointer;
}

#nay-button, #nay-button2 {
	background: url('/static/images/nay-button.png') center top no-repeat;
	width: 440px;
	height: 65px;
	border: none;
	display: block;
	cursor: pointer;
}
