/* HTML5 ✰ Boilerplate */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }
ins { background-color: #ff9; color: #000; text-decoration: none; }
mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }
del { text-decoration: line-through; }
abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }
table { border-collapse: collapse; border-spacing: 0; }
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
input, select { vertical-align: middle; }

body { font:13px/1.231 sans-serif; *font-size:small; }
pre, code, kbd, samp { font-family: monospace, sans-serif; }

html { overflow-y: scroll; }
a:hover, a:active { outline: none; }
ul, ol { margin-left: 2em; }
ol { list-style-type: decimal; }
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }
small { font-size: 85%; }
strong, th { font-weight: bold; }
td { vertical-align: top; }
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; padding: 15px; }
textarea { overflow: auto; } 
.ie6 legend, .ie7 legend { margin-left: -7px; } 
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }
button, input, select, textarea { margin: 0; }
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid { border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red; }
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


::-moz-selection{ background: #43706d; color:#fff; text-shadow: none; }
::selection { background:#43706d; color:#fff; text-shadow: none; }
a:link { -webkit-tap-highlight-color: #43706d; }
button {  width: auto; overflow: visible; }
.ie7 img { -ms-interpolation-mode: bicubic; }


.main a:link, #feature a:link, footer a:link {outline: none; color: #085069;}
.main a:hover, #feature a:hover, footer a:hover {outline: none; color: #ffffff; background-color: #046380;}

.clear {
	clear:both;
}

.replace {
	text-indent: -9999em;
	display: block;
}

ol, ul {
	list-style-type: none;
	margin-left: 0;
}

body {
	color: #363942;
	background: #363942 url('../images/bg-tile.jpg') top left repeat;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
	line-height: 16px;
}

#backdrop {
	background: #f9f3e6;
	width: 785px;
	margin: 0px auto;
	-moz-box-shadow: #363942 2px 2px 5px;
	-webkit-box-shadow: #363942 2px 2px 5px;
	box-shadow: #363942 2px 2px 5px;
}

header {
	width: 785px;
	padding: 13px 42px 0px 41px
}

h1 {
	background: url('../images/rex-logo.png') top left no-repeat;
	width: 702px;
	height: 98px;
}

h2 {
	font-size: 20px;
	font-weight: 200;
}

#feature {
	height: 50px;
	width: 785px;
	padding: 15px 0 0 0;
}

#kitchen {
	width: 785px;
}

#today-kitchen {
	padding: 17px 153px 0px 152px;
}

#large-photo-kit {
	width: 480px;
	height: 350px;
	border: 1px #363942 solid;
}

#today-bar-area {
	width: 785px;
	padding: 0px 27px 0px 26px;
}

#today-text-kit {
	color: #ffffff;
	background: url('../images/text-bar.jpg') center top no-repeat;
	width: 730px;
	height: 60px;
}

#today-text {
	font-family: "Ostrich Sans Rounded", Helvetica, Arial, sans-serif;
	font-size: 46px;
}

.rotate-names {
	
}

#buttons-area {
	display: block;
	padding: 25px 119px 0px;
}

#nudge-button {
	background: url('../images/nudge-button-lg.png') center top no-repeat;
	width: 255px;
	height: 80px;
	margin-right: 37px;
	border: none;
	display: block;
	cursor: pointer;
	float: left;
}

#bone-button {
	background: url('../images/bone-button-lg.png') center top no-repeat;
	width: 255px;
	height: 80px;
	border: none;
	display: block;
	cursor: pointer;
}

#basic-content {
	width: 880px;
	margin-left: 17px;
	padding: 15px 0 20px 15px;
}

.basic-table {
	width: 100%;
	text-align: left;
	border-collapse: separate;
	border-spacing: 10px 0;
}

.basic-table a:link {
	color: #006666;
}

.basic-table th {
	color: #006666;
	background-color: #e4e9e9;
	padding: 5px;
	font-size: 14px;
}

footer {
	width: 785px;
	margin: 0px auto;
	padding: 20px 43px 25px 42px;
}

.footer-bar {
	background-color: #363942;
	height: 10px;
	width: 700px;
}
